

.story-container {
    margin: 20px auto;
    width: 80%;
    padding-bottom: 10px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0px 0px 10px $grey;
    background-color: $mustard;

    .story-header {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        padding: 25px;
        

        @media screen and (max-width: 800px) {
            display: flex;
            flex-wrap: nowrap;
        }

        .left-header{
            display: flex;
            width: 45%;
            justify-content: center;

            .author-img-container {
                border-radius: 10px;
                margin: 10px;
                width: 150px;
                height: 150px;
    
                img {
                    width: 100%;
                    border-radius: 10px;
                    height: 100%;
                }
    
            }
        }

        .right-header {
            display: flex;
            width: 45%;
            justify-content: center;

            .header-text-content {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                padding-top: 10px;
                padding-left: 5%;
                
    
    
                h4{
                    font-size: $main-header-size;
                    width:100%;
                }
    
                h6 {
                    font-size: $sub-header-size;
                    width: 100%;
                }
            }
        }



        
    }

    .story-content {
        margin: 0 auto;
        font-size: $body-text-size;
        padding: 50px;
        flex-wrap: wrap;
        width: 100%;
        line-height: 2; 
        background: $off-white;
        width: 95%;
        border: 1px solid $deep-red;
        border-radius: 5px;
    }

    .under-collapse{
        
        width: 100%;
        display: flex;
        justify-content: center;
        
        button {
            height: 30px;
            width: 125px;
            font-size: $body-text-size;
            font-weight: bold;
            border-radius: 10px;
            background-color: $black;
            color: $off-white;
            margin-top: 10px;
            border: 1px solid grey;
            
    
    
            &:hover {
                background-color: $off-white;
                color: $deep-red;
                border: 1px solid $deep-red;
            }
        }
    }


}