@import '../../Main-Styles/Variables.scss';

.navbar-wrapper{
    width: 100%;
    background: $black;
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: auto;

    h1 {
        font-size: $main-header-size;
    }

    .title{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        h1{
            text-decoration: none;
            font-family: $rock-salt;
            color: $white;
            font-size: $main-header-size;
            margin: 20px;
        }

        .logo-container{
            width: 75px;
            margin: 20px;
    
            img{
                width: 100%;
            }
    
            @media screen and (max-width: 800px){
                max-width: 150px;
                width: 80%;
            }
        }
        &:hover{
            text-decoration: underline;
            text-decoration-color: $deep-red;
        }

        @media screen and (max-width: 800px){
            flex-flow: column nowrap;
        }
    }


    .link-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 50%;
        padding: 0px 10px;
        height: 25%;

        @media screen and (max-width: 800px) {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }

        div {
            font-size: $body-text-size;

            p{
                color: $white;
                font-family: $ubuntu;
            }

            .nav-text{
                text-decoration: none;
                font-family: $ubuntu;
                color: $mustard;

                &:hover{
                    color: $off-white;

                    @media screen and (max-width: 800px){
                        font-weight: bold;
                    }
                }
            }

            @media screen and (max-width: 800px) {
                width: 100%;
                display: flex;
                justify-content: center;
                border-top: 1px solid gray;
                font-size: 1.8rem;
                padding: 10px;
            }
        }
    }

    @media screen and (max-width: 800px) {
        flex-direction: column;
    }


}

