@import '../../Main-Styles/Variables.scss';

.navbar-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
    


    h1 {
        font-size: $main-header-size;
    }

    .link-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
        padding: 0px 10px;
        height: 25%;

        @media screen and (max-width: 800px) {
            display: flex;
            flex-wrap: wrap;
        }

        div {
            font-size: $misc-text-size;

            @media screen and (max-width: 800px) {
                width: 100%;
                display: flex;
                justify-content: center;
                border-top: 1px solid gray;
                font-size: 1.8rem;

                &:hover {
                    font-weight: bold;
                }
            }
        }
    }

    @media screen and (max-width: 800px) {

    }


}

