.sub-container{
    display: flex;
    flex-flow: column nowrap;
    width: 95%;
    padding: 20px;
    margin-top: 10px;
    border-bottom: 1px solid $mustard;

    &:last-child{
        border-bottom: none;
    }

    .sub-content{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        width: 100%;

        .sub-img-container{
            width: 25%;
            border-radius: 20px;
            overflow: hidden;

            .sub-img{
                min-width: 100%;
                margin: auto;

                @media screen and (max-width: 800px){
                    min-width: 0%;
                }
            }

            @media screen and (max-width: 800px){
                width: 300px;
                margin: 20px auto;
            }
        }

        .sub-details{
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            width: 60%;

            .sub-title, .sub-name{
                font-size: $sub-header-size;

                @media screen and (max-width: 800px){
                    padding-bottom: 10px;
                }
            }

            .sub-story{
                font-size: $body-text-size;

                @media screen and (max-width: 800px){
                    padding-bottom: 10px;
                    text-align: center;
                }
            }

            .approval{
                align-self: center;
                width: 20%;
                display: flex;
                justify-content: space-between;

                .icon{
                    font-size: $sub-header-size;
                    cursor: pointer;
                }

                .fas{
                    &:hover{
                        color: $mustard;
                    }
                }

                .far{
                    &:hover{
                        color: $deep-red;
                    }
                }
            }

            @media screen and (max-width: 800px){
                width: 90%;
                align-items: center;
            }
        }

        @media screen and (max-width: 800px){
            flex-flow: column nowrap;
            align-items: center;
            padding-bottom: 20px;
        }
    }
}






