.sub-page-container{
    width: 100%;
    background: $white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.sub-page-header{
    font-family: $prata;
    text-align: center;
    font-size: $main-header-size;
    padding: 30px 0;
}