* {
    box-sizing: border-box;
}
// div {
//     border: 1px solid red;
// }

html {
    font-size: 62.5%;
}

.App-wrapper{
    width: 100%;
    background: $off-white;
}

.App {
    width: 100%;
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    background: $white;
}