* {
    box-sizing: border-box;
}
// div {
//     border: 1px solid red;
// }

html {
    font-size: 62.5%;
}

.App-wrapper{
    width: 100%;
    background: $off-white;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.App {
    width: 100%;
    max-width: 1200px;
    min-height: calc(100vh - 207px);
    padding: 10px;
    margin: auto;
    background: $white;
    font-family: $ubuntu;

    @media screen and (max-width: 800px){
        min-height: 0;
    }
}