//FONT SIZES
$main-header-size: 2.4rem;
$sub-header-size: 1.8rem;
$body-text-size: 1.4rem;
$misc-text-size: 1.2rem;

//COLORS
$mustard: #CBA328;
$deep-red: #93101D;
$off-white: #F9F7F1;
$white: #FFFFFF;
$grey: #666666;
$black: #000000;

//FONT FAMILIES
$rock-salt: 'Rock Salt', cursive;
$prata: 'Prata', serif;
$ubuntu: 'Ubuntu', sans-serif;