//FONT SIZES
$main-header-size: 2.4rem;
$sub-header-size: 1.8rem;
$body-text-size: 1.4rem;
$misc-text-size: 1.2rem;

//FONT COLORS
$main-header-color: red;
$sub-header-color: blue;
$body-text-color: black;
$misc-text-color: orange;

